<tr id="<%=listing.id%>">
			<td><%= listing.user_id%></td>
			<td><%= listing.name%></td>
			<td><%= listing.price_per_night.to_s[0..-3]%></td>
			<td><%= listing.num_of_rooms%></td>
			<td><%= listing.num_of_beds%></td>
			<td><%= listing.num_of_bath%></td>
			<td><%= listing.amenities.join(',')%></td>
			<td><%= listing.house_number%></td>
			<td><%= listing.street%></td>
			<td><%= listing.resident%></td>
			<td><%= listing.city%></td>
			<td><%= listing.poscode%></td>
			<td><%= listing.state%></td>
			<td><%= listing.country%></td>
			<td><%= listing.sort.sort%></td>
			<td><%= image_tag(listing.image[0].url,class:"img-sm") if listing.image.any?%></td>
			<td><%= listing.status%></td>
			<% if current_user.role == "admin"%>
			<td><%= link_to "Approve",admin_path(listing),method: :put%></td>
			<td><%= link_to 'Delete', admin_path(listing), 
                         method: :delete, 
                         data: { confirm: 'Are you sure?' } %> </td>
            <%else%>
            <td><%= link_to "Edit",edit_listing_path(listing)%></td>
			<td><%= link_to 'Delete', listing_path(listing), 
                         method: :delete, 
                         data: { confirm: 'Are you sure?' },remote:true %> </td>
            <%end%>
</tr>