<table class="table table-hover">
	<thead>
	<tr>
		<th scope="col">Name of AirBnb</th>
		<th scope="col">Price per Night</th>
		<th scope="col">Number of bedroom</th>
		<th scope="col">Number of beds</th>
		<th scope="col">Number of bathroom</th>
		<th scope="col">Wifi Available?</th>
		<th scope="col">Kitchen</th>
		<th scope="col">Washer</th>
		<th scope="col">Dryer</th>
		<th scope="col">Iron</th>
		<th scope="col">Hair Dryer</th>
		<th scope="col">House Number</th>
		<th scope="col">Street</th>
		<th scope="col">Resident</th>
		<th scope="col">City</th>
		<th scope="col">Poscode</th>
		<th scope="col">State</th>
		<th scope="col">Country</th>
		<th scope="col">Type of Airbnb</th>
		<th scope="col">Image</th>
		<th scope="col">Status</th>
	</tr>
	</thead>

	<tbody>
		
	<%@listings.each do |listing|%>
		<tr>
			<td><%= listing.name%></td>
			<td><%= listing.price_per_night%></td>
			<td><%= listing.num_of_rooms%></td>
			<td><%= listing.num_of_beds%></td>
			<td><%= listing.num_of_bath%></td>
			<td><%= listing.wifi%></td>
			<td><%= listing.kitchen%></td>
			<td><%= listing.washer%></td>
			<td><%= listing.dryer%></td>
			<td><%= listing.iron%></td>
			<td><%= listing.hair_dryer%></td>
			<td><%= listing.house_number%></td>
			<td><%= listing.street%></td>
			<td><%= listing.resident%></td>
			<td><%= listing.city%></td>
			<td><%= listing.poscode%></td>
			<td><%= listing.state%></td>
			<td><%= listing.country%></td>
			<td><%= listing.sort.sort%></td>
			<th><%= image_tag(listing.image.first.to_s,:class=>"small-image") %></th>
			<td><%= listing.status%></td>
		</tr>
	<%end%>
	
	</tbody>
</table>



