<div class="row">
		<div class="col-xs-12 col-lg-12 "><%= image_tag @airbnb.image[0].url,class:"img-lg center-cropped stretch-full-screen"%></div>
</div>
<div class="container">
	<div class="row padding-top">
		<div class="well col-xs-12 col-lg-8">
			<div class="row">
				<div class="col-xs-8 col-lg-8">
					<div><%=@airbnb.sort.sort%></div>
					<h2><%=@airbnb.name%></h2>
					<div><%=@airbnb.city%></div>
				</div>
				<div class="col-xs-4 col-lg-4">
						<div><%= image_tag(@airbnb.user.image_url,class:"img-sm img-circle")%></div>
					<label><%= link_to host_name,user_path(@airbnb.user)%></label>
				</div>
			</div>
			<div class="padding-top"> <%= image_tag 'bedroom.png' %> rooms <%=@airbnb.num_of_rooms%> <%= image_tag 'bed.png' %> beds <%=@airbnb.num_of_beds%>  <%= image_tag 'bathtub.png'%> bathroom <%=@airbnb.num_of_bath%></div>
		</div>
		<div class="well col-lg-4 col-xs-12">
			<div><strong>RM <%=@airbnb.price_per_night.to_s[0..-3]%></strong><small> per night</small></div>



			<%= form_for @reservation,url:airbnb_reservations_path(@airbnb),html:{class:"padding-top"} do |form|%>
			<div class="form-group">
				<div>Check-in date : </div>
				<%= form.text_field :check_in_date,class:'datepicker stretch-full-width form-control'%>
			</div>	
			<div class="form-group">
				<div>Checkout-out date : </div>
				<%= form.text_field :check_out_date,class:'datepicker stretch-full-width form-control'%>
			</div>
				<div class="padding-top"><%= form.submit "BOOK!",class:"btn btn-primary stretch-full-width form-control"%></div>
			<%end%>




		</div>
		<div class="well col-lg-12 col-xs-12">
			<div>Amenities available :</div>
			<%@airbnb.amenities.each do |amenity|%>
				<div><%= display_amenity_icon(amenity)%> <%=amenity.titlecase%></div>
			<%end%>
		</div>
	</div>
</div>

<script type="text/javascript">
	function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
}

$(document).ready(function(){
	$.fn.datepicker.defaults.format = "yyyy-mm-dd";
    $('.datepicker').datepicker({
    	startDate:formatDate(new Date()),
    	datesDisabled: <%=@range.inspect.html_safe%>
    });
  });
</script>