
<div id="carouselExampleIndicators" class="carousel slide stretch-full-screen relative" data-ride="carousel">
		  <ol class="carousel-indicators">
		  	<% @airbnb.image.each_with_index do |img,index|%>
		    <li data-target="#carouselExampleIndicators" data-slide-to="<%=index%>" class="active"></li>
		    <%end%>
		  </ol>
		  	<% @airbnb.image.each_with_index do |img,index| %>
			  	<%if index > 0%>
				    <div class="carousel-item"><%= image_tag img.url,class:"img-lg center-cropped d-block w-100"%></div>
		    	<%else%>
		    		<div class="carousel-item active"><%= image_tag img.url,class:"img-lg center-cropped d-block w-100"%></div>
		    	<%end%>
	    	<%end%>
		  </div>
		  <a class="carousel-control-prev push-down" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next push-down" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>

	<button type="button" class="btn btn-info inside" data-toggle="modal" data-target="#exampleModal">View Photos</button>
</div>

<div class="container">
	<div class="row padding-top">
		<div class="col-xs-12 col-lg-8">
			<div class="row">
				<div class="col-sm-8 col-lg-8">
					<div><%=@airbnb.sort.sort%></div>
					<h2><%=@airbnb.name%></h2>
					<div><%=@airbnb.city%></div>
				</div>
				<div class="col-sm-4" align="center">
						<div><%= image_tag(@airbnb.user.image_url,class:"img-sm img-circle")%></div>
					<label><%= link_to host_name,user_path(@airbnb.user)%></label>
				</div>
			</div>
			<div class="col-sm-12"> <%= image_tag 'bedroom.png' %> rooms <%=@airbnb.num_of_rooms%> <%= image_tag 'bed.png' %> beds <%=@airbnb.num_of_beds%>  <%= image_tag 'bathtub.png'%> bathroom <%=@airbnb.num_of_bath%>
			</div>

			<div class="well col-sm-12 padding-top">
			<div>Amenities available :</div>
			<% if @airbnb.amenities.any? %>
				<%@airbnb.amenities.each do |amenity|%>
					<div><%= display_amenity_icon(amenity)%> <%=amenity.titlecase%></div>
				<%end%>
			<% end %>
		</div>
		</div>
		<div class="well col-lg-4 col-xs-12">
			<div><strong>RM <label id="price-per-night"><%=@airbnb.price_per_night.to_s[0..-3]%></label></strong><small> per night</small></div>



			<%= form_for @reservation,url:new_transaction_path,html:{class:"padding-top"} do |form|%>
			<div class="form-group">
				<div>Check-in date : </div>
				<%= form.text_field :check_in_date,class:'datepicker stretch-full-width form-control',id:"check-in"%>
				<%= form.hidden_field :listing_id,value:@airbnb.id%>
			</div>	
			<div class="form-group">
				<div>Checkout-out date : </div>
				<%= form.text_field :check_out_date,class:'datepicker stretch-full-width form-control',id:"check-out"%>
			</div>
			<div class="form-group">
				<div><label id="check-price" class="btn btn-primary">Check Price</label><label class="padding-left">Price : <label id="total-price"></label></label></div>
			</div>
				<div class="padding-top"><%= form.submit "BOOK!",class:"btn btn-primary stretch-full-width form-control"%></div>
			<%end%>
		</div>
		
	</div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="padding-top:100px;">
    <div class="modal-content">
      	<div id="modalCarousel" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		  	<% @airbnb.image.each_with_index do |img,index|%>
		    <li data-target="#modalCarousel" data-slide-to="<%=index%>" class="active"></li>
		    <%end%>
		  </ol>
		  	<% @airbnb.image.each_with_index do |img,index| %>
			  	<%if index > 0%>
				    <div class="carousel-item"><%= image_tag img.url,class:"d-block w-100"%></div>
		    	<%else%>
		    		<div class="carousel-item active"><%= image_tag img.url,class:"d-block w-100"%></div>
		    	<%end%>
	    	<%end%>
		  </div>
		  <a class="carousel-control-prev push-down" href="#modalCarousel" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next push-down" href="#modalCarousel" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
</div>
    </div>
  </div>
</div>

    


<!-- Javascript/Jquery -->
<script type="text/javascript">
	function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
}

$(document).ready(function(){
	$.fn.datepicker.defaults.format = "yyyy-mm-dd";
    $('.datepicker').datepicker({
    	startDate:formatDate(new Date()),
    	datesDisabled: <%=@range.inspect.html_safe%>,
    	autoclose:true
    }).on("keydown",function(e){
    	e.preventDefault();
    })

    $('#check-price').on("click",function(e){
    	var check_in_date = new Date($('#check-in').val())
    	var check_out_date = new Date($('#check-out').val())
    	var price = parseInt($('#price-per-night').text())
    	$("#total-price").text("RM" + ((check_out_date - check_in_date)/(3600000*24)) * price)
    })
  });
</script>