<table class="table table-hover col-lg-12">
	<thead>
	<tr>
		<th scope="col">UserID : </th>
		<th scope="col">AirBnb's name</th>
		<th scope="col">Price</th>
		<th scope="col">Bed-room</th>
		<th scope="col">Beds</th>
		<th scope="col">Bath-room</th>
		<th scope="col">Amenitiy</th>
		<th scope="col">House No.</th>
		<th scope="col">Street</th>
		<th scope="col">Resident</th>
		<th scope="col">City</th>
		<th scope="col">Poscode</th>
		<th scope="col">State</th>
		<th scope="col">Country</th>
		<th scope="col">Type</th>
		<th scope="col">Image</th>
		<th scope="col">Status</th>
		<%if current_user.role == 'admin'%>
			<th scope="col">Approve</th>
			<th scope="col">Delete</th>
		<%else%>
			<th scope="col">Edit</th>
			<th scope="col">Delete</th>
		<%end%>
	</tr>
	</thead>

	<tbody>
		
	<%@listings.each do |listing|%>
		<tr>
			<td><%= listing.user_id%></td>
			<td><%= listing.name%></td>
			<td><%= listing.price_per_night.to_s[0..-3]%></td>
			<td><%= listing.num_of_rooms%></td>
			<td><%= listing.num_of_beds%></td>
			<td><%= listing.num_of_bath%></td>
			<td>Hello</td>
			<td><%= listing.house_number%></td>
			<td><%= listing.street%></td>
			<td><%= listing.resident%></td>
			<td><%= listing.city%></td>
			<td><%= listing.poscode%></td>
			<td><%= listing.state%></td>
			<td><%= listing.country%></td>
			<td><%= listing.sort.sort%></td>
			<td><%= image_tag listing.image[0].url,class:"img-sm"%></td>
			<td><%= listing.status%></td>
			<% if current_user.role == "admin"%>
			<td><%= link_to "Approve",admin_path(listing),method: :put%></td>
			<td><%= link_to 'Delete', admin_path(listing), 
                         method: :delete, 
                         data: { confirm: 'Are you sure?' } %> </td>
            <%else%>
            <td><%= link_to "Edit",edit_listing_path(listing)%></td>
			<td><%= link_to 'Delete', listing_path(listing), 
                         method: :delete, 
                         data: { confirm: 'Are you sure?' } %> </td>
            <%end%>
		</tr>
	<%end%>
	
	</tbody>
</table>

