 <!-- Load the Client component. -->
<script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

<!-- Load the Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>


<div class="row">
  <div class="col-lg-6">
      <div class="well padding-top" align="center">
          <div><%= image_tag @reservation.listing.image[0].url,class:"img-sm"%></div>
          <div>Name of airbnb : <%= @reservation.listing.name%></div>
          <div>Price per night : RM <%= @reservation.listing.price_per_night.to_s[0..-3]%></div>
          <div>Number of days : <%= @reservation.days%> days</div>
          <div>Total price :<strong> RM <%= @reservation.total_price.to_s[0..-3]%></strong></div>
          
      </div>
  </div>

  <div class="demo-frame col-lg-6">
    <h3>Pay Now : </h3>
  <%= form_for :checkout_form, url: transactions_checkout_path(reservation_details:"test"), html: { id: "cardForm"} do |form| %>

      <%= form.hidden_field :price,value:@reservation.total_price%>
      <%= form.hidden_field :in,value:@reservation.check_in_date%>
      <%= form.hidden_field :out,value:@reservation.check_out_date%>
      <%= form.hidden_field :list,value:@reservation.listing_id%>
      <%= form.hidden_field :user,value:@reservation.user_id%>
      <%= form.hidden_field :days,value:@reservation.days%>

      <%= form.label :card_number, "Credit Card Number", html: {class: "hosted-fields--label"} %>
      <div id="card-number" class="hosted-field"></div>

      <%= form.label :expiration_date, "Expiration Date", html: {class: "hosted-fields--label"} %>
      <div id="expiration-date" class="hosted-field"></div>

      <%= form.label :cvv, "CVV", html: {class: "hosted-fields--label"} %>
      <div id="cvv" class="hosted-field"></div>

      <%= form.hidden_field "payment_method_nonce" %>

      <div class="button-container">
        <%= form.submit "Purchase", disabled: true, class: "btn btn-primary", id: "submit-payment-btn" %>
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
	var form = document.querySelector('#cardForm');
var submit = document.querySelector("#submit-payment-btn");
var authorization = '<%= @client_token %>';

braintree.client.create({
  // Replace this with your own authorization.
  authorization: authorization
}, function (clientErr, clientInstance) {
  if (clientErr) {
    // Handle error in client creation
    return;
  }

  braintree.hostedFields.create({
    client: clientInstance,
    styles: {
      'input': {
        'font-size': '14pt'
      },
      'input.invalid': {
        'color': 'red'
      },
      'input.valid': {
        'color': 'green'
      }
    },
    fields: {
      number: {
        selector: '#card-number',
        placeholder: '4111 1111 1111 1111'
      },
      cvv: {
        selector: '#cvv',
        placeholder: '123'
      },
      expirationDate: {
        selector: '#expiration-date',
        placeholder: '10/2019'
      }
    }
  }, function (hostedFieldsErr, hostedFieldsInstance) {
    if (hostedFieldsErr) {
      // Handle error in Hosted Fields creation
      return;
    }

    submit.removeAttribute('disabled');

    form.addEventListener('submit', function (event) {
      event.preventDefault();

      hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
        if (tokenizeErr) {
          // Handle error in Hosted Fields tokenization
          return;
        }

        // Put `payload.nonce` into the `payment_method_nonce` input, and then
        // submit the form. Alternatively, you could send the nonce to your server
        // with AJAX.
        document.querySelector('input[name="checkout_form[payment_method_nonce]"]').value = payload.nonce;
        form.submit();
      });
    }, false);
  });
});
</script>